body,html{
	margin: 0;
	padding: 0px;
	background-color: #eee;
}
.top, .bottom {
	width: auto;
	height: 70px;
	background-color: #333;
}
.logo {
	float: left;
	height: 55px;
	width: 150px;
	margin-left: 15px;
}
li.nav-li {
	float: left;
	font-size: 0.5em;
	margin: 10px 0 0 30px;

}
li.nav-li a:link{
	color: #fff;
	text-decoration:none; 
}
li.nav-li a:hover{
	color: #aaa;
}
.main_text,.sidebar {
	font-family: "Microsoft YaHei";
	margin: 20px;
	padding: 30px 20px 30px 20px;
	background-color: #fff;
	border-style: outset;
}
.sidebar h2{
	border-left: 4px solid #ccc;
	padding-left: 8px;
}
.main_text th {
	background-color: #333;
	color: #fff;
	font-size: 14px;
	text-align: left;
}
.main_text table {
	width: 100%;
	border-collapse: collapse; 	
}
.main_text table a {
	text-decoration: none;
}
.navigation {
	float: right;
	height: 20px;
	color: #fff;
	font-family: "Microsoft YaHei";
	margin-right: 10px;
}
.author {
	font-family: "Times";
	font-size: smaller;
	color: #aaa;
}

ul.ul-1,ul.ul-2 {
	list-style-type: none;
}
.ol-2 {
	border: 1px solid #999;
	width: 110px;
	/*height: 140px;*/
	padding: 10px;
	margin: 20px 10px 20px 50px; 
	text-align: center;
}
.pic-2 {
	width: 100px;
	height: 80px;
	margin-top: 10px;
}

.text-field {
	width: 600px;
	margin: 30px auto;
}
.form-info .text-field{
	overflow: hidden;
	margin-bottom: 5px;
}
.form-info .form-group {
	width: 100%;
	margin-bottom: 5px;
}
.form-info .form-group .group-name {
	width: 150px;
	text-align: right;
	display: inline-block;
}
.form-info .form-group .group-value{
	width: 280px;
	display: inline-block;
}

.submit_field {
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #35D;
	color:#fff;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px;
}
.bottom {
	font-size: 20px;
	text-align: center;
	color:#eee;
	margin: auto;
	line-height: 3.5;
}

h3 {
	font-size: medium;
	color: #bbb;
}
tfoot {
	border: none;
	background-color: #eee;
}

